.dark-bkg {
  background: #2b2b2e;
}
.flex {
  display: flex;
}
.border-round {
  border-radius: 10px;
}
.smokey {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: #e2e2e2;
  text-shadow: #0c0c0cc9 0px 2px 2px;
}
.default-font {
  font-family: 'Nunito', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0!important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}
body {
  background: #dddddd;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
.back-splash {
  background-image: url("https://images.unsplash.com/photo-1531854676938-4d5f9703df2e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-color: #cccccc;
}
.card-container {
  margin: 30px 10px;
}
.title-font {
  font-size: 2rem;
}
.topbar-icon {
  padding-right: 20px;
  font-size: 2rem;
}
.card-box {
  display: flex;
}
.card-box .card-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 150px;
  width: 450px;
  margin: 15% 5% 5% 59%;
  flex-flow: column nowrap;
}
.card-box .card-text h2,
.card-box .card-text h3 {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: #e2e2e2;
  text-shadow: #0c0c0cc9 0px 2px 2px;
}
.card-box .card-text h2 {
  font-size: 3rem;
  font-weight: 600;
}
.card-box .card-text h3 {
  font-size: 2rem;
}
.card-box .card-text .app-btn {
  background: black;
  color: white;
  margin: 10px 20px;
}
.card-box .card-text .app-btn:hover {
  background: #222222;
}
.card-box .card-text .sub-custom-mdc {
  width: 200px;
  line-height: 2rem;
}
.features-info {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  width: 80%;
}
.features-info .info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 980px) {
  .features-info .info-container {
    flex-flow: row nowrap;
    width: 90%;
  }
}
.features-info .info-container .info-card-box {
  color: black;
  margin: 20px;
  padding: 1.5%;
  border: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
}
.features-info .info-container .info-card-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.features-info .info-container .info-card-box h2 {
  text-align: center;
}
.features-info .info-container .info-card-box p {
  padding: 5px 8px 15px;
}
.features-info .info-container .info-card-box .card-img {
  width: 150px;
}
.features-info .card-icon {
  text-align: center;
  font-size: 3rem;
  padding: 15px 0;
}
.bottom-strip {
  text-align: center;
  width: 100vw;
}
.bottom-strip div {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  padding: 30px 0;
  font-size: 1.5rem;
}
.about-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .about-container {
    flex-flow: row wrap;
  }
}
@media (min-width: 980px) {
  .about-container {
    flex-flow: row wrap;
  }
}
.about-container .info-card-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: black;
  width: 400px;
  margin: 20px;
  padding: 1.5%;
  border: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
}
@media (min-width: 768px) {
  .about-container .info-card-box {
    width: 255px;
    height: 330px;
  }
}
.about-container .info-card-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about-container .info-card-box img {
  padding: 15px 0;
  border-radius: 50%;
}
.about-container .info-card-box h2 {
  text-align: center;
}
.about-container .info-card-box p {
  padding: 5px 8px 15px;
}
.about-container .info-card-box .card-img {
  width: 150px;
}
.nav-text-color {
  color: #dddddd;
}
.remove-style {
  text-decoration: none;
}
.align-center {
  text-align: center;
}
.row {
  margin: -10px 0;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}
.content-wrapper {
  min-height: 100%;
  position: relative;
}
.get-in-touch {
  max-width: 650px;
  margin: 100px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.get-in-touch .titles {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}
.contact-form .form-field {
  position: relative;
  background: #dddddd;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  background: #dddddd;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #2b2b2b;
  background: #dddddd;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}
.wrapper {
  height: 50px;
  transition: all 300ms ease-in-out;
  margin: 1em 0;
  padding: 0;
}
.background--blur {
  background: #8d8d8d;
}
.menu {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}
.menu div {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.menu a {
  text-decoration: none;
  color: #353535;
}
.menu a:hover {
  text-decoration: underline;
}
.menu div:last-child {
  border: 0;
}
.menu--off {
  position: absolute;
  left: -50%;
  width: 150px;
  display: block;
  background: #eee;
  min-height: 120px;
  height: 100px;
  margin-top: 1em;
  transition: all 300ms;
}
.menu--on {
  left: 0;
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}
.material-design-hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
}
.material-design-hamburger__icon {
  padding: 2.3rem 1rem 1.8rem;
  cursor: pointer;
}
.material-design-hamburger__layer {
  display: block;
  width: 20px;
  height: 3px;
  background: #eee;
  position: relative;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.material-design-hamburger__layer:before,
.material-design-hamburger__layer:after {
  display: block;
  width: inherit;
  height: 3px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.material-design-hamburger__layer:before {
  bottom: 200%;
}
.material-design-hamburger__layer:after {
  top: 200%;
}
.material-design-hamburger__icon--to-arrow {
  animation-name: material-design-hamburger__icon--slide;
  animation-fill-mode: forwards;
}
.material-design-hamburger__icon--to-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before;
  animation-fill-mode: forwards;
}
.material-design-hamburger__icon--to-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after;
  animation-fill-mode: forwards;
}
.material-design-hamburger__icon--from-arrow {
  animation-name: material-design-hamburger__icon--slide-from;
}
.material-design-hamburger__icon--from-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before-from;
}
.material-design-hamburger__icon--from-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after-from;
}
